.bg-icon {
    background-color: aquamarine;

}

.icon-text {

    list-style-type: none;

}


.a {
    display: block;
    text-align: center;
    color: black;
    white-space: nowrap;

}

.about-lycee:hover {
    color: rgb(87, 84, 84);

}