.bg-icon {
    background-color: aquamarine;

}

.icon-text {

    list-style-type: none;

}


.a {
    display: block;
    text-align: center;
    color: black;
    white-space: nowrap;

}

.about-lycee:hover {
    color: rgb(87, 84, 84);

}

.portfolio-info {
    text-align: justify;
    text-justify: inter-word;

}

.iPhone {
    position: absolute;
    left: 45%;
}